
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/contact.css">
</head>
<body>
    <div class="contact-wrapper" id="contactArea">
    <div class="contact2_transparent" onclick="closeContact()"></div>
    
    <div class="contact2_contents">
        <div class="getintouch">
            <p class="get_title">Get in Touch</p>
            <div class="email">
                <i class="fa-solid fa-envelope"></i>
                <p class="getin">dothithutrang49@gmail.com</p></div>
            <div class="phone">
                <i class="fa-solid fa-phone"></i>
                <p class="getin">+8425169862</p></div>
            <div class="address">
                <i class="fa-solid fa-map-location-dot"></i>
                <p class="getin">Ha Noi, Viet Nam</p></div>
        </div>
        <br>
        <br>
        <hr>
        <div class="soical">
            <p class="soical_title">Social Media</p>
            <a href="https://www.facebook.com/thu.trang.2311206/photos?locale=vi_VN"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/dltranq/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://github.com/thutrangnee"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.tiktok.com/@dt.trang_"><i class="fa-brands fa-tiktok"></i></a>
        </div>
    </div> 
</div>
</body>
</html>