<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>
<body>
  
    <footer>
        <div class="content">
            <div class="content_about">
                <p class="names">Thu Trang</p>
                <p class="about">Aspiring Frontend Developer passionate about creating clean, responsive, and modern websites.</p>
            </div>

            <div class="content_links">
                <p>Quick link</p>
                <a href="/about">About</a>
                <a href="/skills">Skills</a>
                <a href="/project">Projects</a>
            </div>

            <div class="content_logo">
                <p>Connect</p>
                <a href="https://www.facebook.com/thu.trang.2311206/photos?locale=vi_VN"><i class="fa-brands fa-facebook"style="color: rgb(255, 255, 255);"></i></a>
            <a href="https://www.instagram.com/dltranq/"><i class="fa-brands fa-instagram" style="color: rgb(255, 255, 255);"></i></a>
            <i class="fa-solid fa-envelope" style="color: rgb(255, 255, 255);"></i>
            </div>
        </div>
    <hr>
        <!-- <div class="logos"> -->
            <p class="logos">© Thu Trang. All rights reserved.</p>
          
            
        <!-- </div> -->
    </footer>
</body>
</html>











<!-- </main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
    <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>

  <ul class="menu">
    <li><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Services</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <p class="copyright"> Made with ❤️ in London.</p>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html> -->
