<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <div></div>
     <%- include("partials/header.ejs") %>
     <div class="container">
        <div class="container_img">
            <img src="/image/IMG_6142.JPG">
        </div>
        <div class="container_about">
            <h1>About me</h1>
    
            <p class="about_me">
About Me

Hi! I'm Thu Trang, an aspiring frontend developer passionate about crafting clean, user-friendly, and responsive web applications. I love transforming ideas into functional designs using HTML, CSS, JavaScript, React, and Tailwind CSS. My goal is to create experiences that are not only visually appealing but also intuitive to use.
<br>
<br>
I'm continuously learning and exploring new tools and frameworks to improve my skills. Beyond coding, I enjoy listening to music and gaming — activities that inspire creativity and problem-solving.</p>
<br>
           <div class="skills">
            <div class="skills dev">
                <p class="title">Frontend Dev</p>
                <p>Skilled in React, <br>Tailwind CSS, and modern UI principles.</p>
            </div>

            <div class="skills design">
                <p class="title">Responsive Design</p>
                <p>Creating layouts that <br>work on all devices.</p>
            </div>

            <div class="skills code">
                <p class="title">Creative Coding</p>
                <p>Blending creativity <br>with technical skills for unique solutions.</p>
            </div>
           </div>
        </div>
     </div>
     <!-- <%- include("partials/footer.ejs") %> -->
</body>
</html>