<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title>Thu Trang</title>
    <link rel="icon" class="avatar-circle" type="image/png" id="avt_icon" width="60px" height="60px" href="/image/Gemini_Generated_Image_2vjyzd2vjyzd2vjy.png" >
    <link rel="stylesheet" href="/about.css">
</head>
<body>
    <div class="my-header-wrapper">
         <%- include("partials/header.ejs") %>
    </div>
     <div class="container3">
        <div class="container_img">
            <img id="about_img" src="/image/IMG_6142.JPG">
        </div>
        <div class="container_about">
            <h1>About me</h1>
    
            <p class="p about_me">

Hi! I'm Thu Trang, an aspiring frontend developer passionate about crafting clean, user-friendly, and responsive web applications. I love transforming ideas into functional designs using HTML, CSS, JavaScript, React, and Tailwind CSS. My goal is to create experiences that are not only visually appealing but also intuitive to use.
<br>
<br>
I'm continuously learning and exploring new tools and frameworks to improve my skills. Beyond coding, I enjoy listening to music and gaming — activities that inspire creativity and problem-solving.</p>
<br>
           <div class="skills">
            <div class="skills dev">
                <p class="p title">Frontend Dev</p>
                <p class="p">Skilled in React, <br>Tailwind CSS, and modern UI principles.</p>
            </div>

            <div class="skills design">
                <p class="p title">Responsive Design</p>
                <p class="p">Creating layouts that <br>work on all devices.</p>
            </div>

            <div class="skills code">
                <p class="p title">Creative Coding</p>
                <p class="p">Blending creativity <br>with technical skills for unique solutions.</p>
            </div>
           </div>
        </div>
     </div>
    </div>
    <div class="footer">
         <%- include("partials/footer.ejs") %> 
    </div>

  <%- include("partials/contact.ejs") %>
<script>
    function openContact() {
        // Hiện toàn bộ vùng contact
        document.getElementById('contactArea').style.display = 'flex';
    }

    function closeContact() {
        // Ẩn vùng contact
        document.getElementById('contactArea').style.display = 'none';
    }
</script>
</body>
</html>