
footer{
    display: grid;
    grid-template-rows: 1fr ;
    width: 100%;
    background-color: rgba(15, 14, 14, 0.935);
    color: white;
    
}
.content {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
    margin-left: 100px;
    margin-top: 40px;
}
p{
    font-size: 17px !important;
    font-family: Lexend Deca !important;
}
.content_about .names{
    color: #fb9191;
    font-size: 23px !important;
}
.content_about .about{
    font-size: 14px;
}
.content_links {
    margin-left: 60px;
    display: grid;
    grid-template-rows: 0.75fr 0.75fr 0.75fr;
    gap: 0;
   
}
.content_links a{
    text-decoration: none;
    color: rgb(207, 200, 200);
}
.logos {
    text-align: center;
    font-size: 13px !important;
    color: rgb(202, 194, 194);
 
}


hr {
    background-color: white;
    border: none;
    height: 1px;
    margin-top: 20px;
}
@media only screen and (max-width: 600px) {
    .content {
        display: flex;
        flex-direction: column;
        margin:auto;
    }
    .content_about .names{
        font-size:23px !important;
        margin-left: 20px;
        margin-top: 30px;
        color: #ff4d7a;
        font-weight: bold;
    }
    .content_about .about{
        font-size: 13px !important;
        margin-left: 20px;
    }
    .content_links{
        font-size: 18px !important;
        margin-left: 20px !important;
    }
    .content_links a{
        font-size:13px !important ;
    }
    .content_logo {
        font-size: 18px !important;
        margin-left: 20px;
    }
    .content_logo p{
        margin-top: 10px;
    }
   


  
}
