
footer{
    display: grid;
    grid-template-rows: 1fr ;
    width: 100%;
    background-color: rgba(15, 14, 14, 0.935);
    color: white;
    
}
.content {
    display: grid;
    grid-template-columns: 1fr 1.25fr 1fr;
    margin-left: 100px;
    margin-top: 40px;
}
p{
    font-size: 17px !important;
    font-family: Lexend Deca !important;
}
.content_about .name{
    color: #fb9191;
    font-size: 23px ;
}
.content_about .about{
    font-size: 14px;
}
.content_links {
    margin-left: 60px;
    display: grid;
    grid-template-rows: 0.75fr 0.75fr 0.75fr;
    gap: 0;
   
}
.content_links a{
    text-decoration: none;
    color: rgb(207, 200, 200);
}
.logos {
    text-align: center;
    font-size: 13px !important;
    color: rgb(202, 194, 194);
 
}


hr {
    background-color: white;
    border: none;
    height: 1px;
    margin-top: 20px;
}