.contents {
  display: grid;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}
.contents_do {
  background-color: #ffe7e7;
}
.contents_title {
  font-size: 38px !important;
  font-weight: bold;
  margin-top: 50px;
}
.contents_paragraph {
  font-size: 16px !important;
  color: rgb(91, 87, 87);
}
.contents_box {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-left: 210px;
  margin-top: 60px;
}
.box {
  background-color: #ffcaca !important ;
  width: 300px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 100px;
}

.image {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-left: 250px;
  width: 800px;
}
.image img {
  width: 100px;
  height: 100px;
  margin-left: 25px;
}
.number {
  display: flex;
  flex-direction: column;
}
.image_title {
  font-size: 13px !important;
  margin-top: 15px;
  margin-left: 20px;
}
.image {
  /* Chạy 2 animation: gõ chữ và nhấp nháy con trỏ */
  animation: slide 3s linear infinite alternate;
}
/* Hiệu ứng gõ: tăng chiều rộng từ 0 lên 100% */
@keyframes slide {
  0% {
    /* Bắt đầu: nằm gọn bên trái */
    transform: translateX(0);
  }
  100% {
    /* Kết thúc: chạy lố hẳn ra ngoài khung 400px */
    /* Với 450px, nó sẽ lướt ra ngoài 50px -> 50px đó bị biến mất, 50px còn lại vẫn thấy */
    transform: translateX(50px);
  }
}

.box_title {
  font-size: 18px !important;
  font-weight: bold;
  margin-top: 17px;
}
.box_paragraph {
  font-size: 14px !important;
  color: rgb(70, 68, 68);
}
.icon {
  font-size: 45px;
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100%;
  }
  .contents_title {
    font-size: 30px !important;
    text-align: center;
  }
  .contents_paragraph {
    font-size: 15px !important;
  }
   .contents_intro .contents_paragraph{
    margin-bottom: 50px;
   }
      .contents_do{
        margin-top: 80px;
      }
   .contents_do br {
    display: none;
  }
   .contents {
    display: flex;
    flex-direction: column;
  }
  .image{
    width: 350px;
    flex-wrap: wrap;
    margin: 0;
  }
  .image img{
    width: 60px;
    height: 60px;
  }
  .image {
  /* Chạy 2 animation: gõ chữ và nhấp nháy con trỏ */
  animation: slide 5s linear infinite alternate;
}
  @keyframes slide {
  0% {
    /* Bắt đầu: nằm gọn bên trái */
    transform: translateX(0);
  }
  30% {
    /* Kết thúc: chạy lố hẳn ra ngoài khung 400px */
    /* Với 450px, nó sẽ lướt ra ngoài 50px -> 50px đó bị biến mất, 50px còn lại vẫn thấy */
    transform: translateX(70px);
  }
}
.contents_box {
   display: flex;
   flex-direction: column;
   margin: 0;
   margin-bottom: 70px !important;
   gap: 0 !important;
}
.box {
  width: 320px;
  height: 200px;
  border-radius: 10px;
  margin: 40px auto;
 margin-bottom: 0;
}
.box .icon{
    font-size: 30px;
}
}
